body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(252, 250, 250);
}

/* NavBar */
.navbar {
  background-color: rgb(223, 11, 39);
  height: 45px;
}
.linkBox {
  height: 30px;
  width: 150px;
  background-color: rgb(63, 62, 62);
  margin-left: -8px;
}
.searchForm {
  margin: 0 auto;
  background-color: rgb(179, 15, 37);
}
#searchBar {
  border-radius: 0;
  width: 400px;
  background-color: rgb(179, 15, 37);
  border-color: rgb(179, 15, 37);
  height: 30px;
}
#searchIcon {
  padding-right: 10px;
  height: 20px;
}
.colorBar {
  height: 30px;
  width: 100%;
  background-color: rgb(179, 15, 37);
}

/* Banner */
#banner {
  border-radius: 0;
  background-image: url("images/B&W_bg.jpg");
  background-position: 25% 75%;
  background-size: cover;
  height: 250px;
  box-shadow: inset 300px 0 100px black;
}
#promotion {
  color: white;
  margin-top: -30px;
  width: 50%;
  float: left;
}
h1 {
  font-weight: 700;
  margin-bottom: -5px;
}
h4 {
  font-weight: 100;
}
#promoDes {
  font-weight: 300;
  font-size: 9pt;
}
#peak {
  float: right;
}
#peakPNG {
  width: 300px;
  margin-top: -50px;
}

/* Color swatches */
.container-fluid {
  margin-top: -90px;
}
.row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.col {
  height: 140px;
  width: 30%;
  margin-left: 25px;
  border: 10px white solid;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
#hexCode {
  color: white;
  font-size: 16pt;
  font-weight: 100;
  text-align: center;
  padding: 44px 0;
}
#c1 {
  background-color: #35D3B4;
}
#c2 {
  background-color: #1B2191;
}
#c3 {
  background-color: #D822EE;
}

/* Footer */
